@import url("maket.css");
.Slider-New{
    position: relative;
    margin-left: 320px;
}
#ColRightdown{
    height: 480px;
    background:blue;
}
#slider-wrap{
    height: 911px;
    background: red;
}